.parent {
  border: 2px solid red;
  position: relative;
  height: 1000px;
}

.firstImage {
  position: static; /*Default position for each and every elements*/
  /* left: 100px;
  right: 100px; */
}

.secondImage {
  /* position: relative;
  top: 0px;
  left: 0px; */
}

.thirdImage {
  /* position: absolute; */
  /* z-index: -10; */
  /* left: 0; */
  /* bottom: 0; */
  /* right: 0; */
}

.parent2 {
  height: 100vh;
  width: 100%;
  background-color: lightsteelblue;
}

.secondImage {
  position: fixed;
  bottom: 0;
  right: 0;
}

.thirdImage {
  position: sticky;
  top: 0;
}
