/* #firstHeading {
  color: aquamarine;
} */

/* .myHeading {
  color: cadetblue;
} */

/* #shanu {
  color: yellow;
}

#firstHeading {
  color: yellow;
}

.myHeading {
  color: yellow;
}

.shanu {
  color: blueviolet;
} */

/* #shanu {
  color: cadetblue;
}

.shanu {
  color: blueviolet;
}
h1 {
  color: yellow;
} */

/* h1 {
  color: yellow;
}
h2 {
  color: yellow;
}
p {
  color: yellow;
} */

/* #shanu,
h2,
p,
.poem {
  color: yellow;
} */

* {
  color: yellow;
}
